$primary-red-light: #ffc0ac;
$primary-red-medium: #cb3627;
$primary-red-dark: #6a0400;

$secondary-red-light: #ff6849;
$secondary-red-dark: #923725;

$primary-orange-light: #ff7a00;
$primary-orange-dark: #cb4006;

$paper-yelow-light: #e2ad49;
$paper-yellow-dark: #a36c16;

$gold:#FFCF00;
$dark-gray:#202020;

$ghost-light: #f0f0f0;
$white: #ffffff;